<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d696c727-3978-4ce9-a438-b3522db88a78" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="7ef8a130-8508-4b11-a497-6756ddf7584b">master</Parent>
    <Compositions>
      <Composition Key="7ef8a130-8508-4b11-a497-6756ddf7584b">master</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a158006f-76de-451e-918d-5a55c1bd47de">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e84fb5ed-c36d-4f51-b170-3cf6ad2f34e7">dataRepository</ContentType>
    <ContentType Key="6a1f5ef8-7d90-4958-8643-e74c1015fb93">generic</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b9863e66-02c3-4da9-a29c-fb1a0cc5d137</Key>
      <Name>Primary Navigation</Name>
      <Alias>primaryNavigation</Alias>
      <Definition>0acabcbb-20f7-498a-adb3-c0d88be35242</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0f411d64-142c-4102-b7bb-090078502e58</Key>
      <Name>Promotions</Name>
      <Alias>promotions</Alias>
      <Definition>bbf83390-59a4-4291-8fff-f218bd6eea45</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>