<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a1f5ef8-7d90-4958-8643-e74c1015fb93" Alias="generic" Level="2">
  <Info>
    <Name>Generic</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="7ef8a130-8508-4b11-a497-6756ddf7584b">master</Parent>
    <Compositions>
      <Composition Key="7ef8a130-8508-4b11-a497-6756ddf7584b">master</Composition>
      <Composition Key="8a1dc1ad-6556-48d9-a215-d1d0ac866121">personalisation</Composition>
    </Compositions>
    <DefaultTemplate>Generic</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="95529a6c-53a6-4198-839b-7da300a266de">Generic</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>