<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e7c2dd4-ea3b-40b5-a948-3636cea4d21a" Alias="Data" Level="2">
  <Info>
    <Parent Key="91cfc9fd-e566-437c-894f-329780cd30fc">Home</Parent>
    <Path>/Home/Data</Path>
    <Trashed>false</Trashed>
    <ContentType>dataRepository</ContentType>
    <CreateDate>2020-02-10T12:46:49</CreateDate>
    <NodeName Default="Data" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>