<?xml version="1.0" encoding="utf-8"?>
<Content Key="81f4d82a-8776-4e55-adb6-7f2fef51c4ba" Alias="Music Page" Level="2">
  <Info>
    <Parent Key="91cfc9fd-e566-437c-894f-329780cd30fc">Home</Parent>
    <Path>/Home/MusicPage</Path>
    <Trashed>false</Trashed>
    <ContentType>generic</ContentType>
    <CreateDate>2020-02-10T13:24:56</CreateDate>
    <NodeName Default="Music Page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95529a6c-53a6-4198-839b-7da300a266de">Generic</Template>
  </Info>
  <Properties>
    <tags>
      <Value><![CDATA[["music"]]]></Value>
    </tags>
  </Properties>
</Content>