<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b8298e2-c3fc-4910-ae0a-673b24ced702" Alias="Sports Page" Level="2">
  <Info>
    <Parent Key="91cfc9fd-e566-437c-894f-329780cd30fc">Home</Parent>
    <Path>/Home/SportsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>generic</ContentType>
    <CreateDate>2020-02-10T15:18:47</CreateDate>
    <NodeName Default="Sports Page" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95529a6c-53a6-4198-839b-7da300a266de">Generic</Template>
  </Info>
  <Properties>
    <tags>
      <Value><![CDATA[["sport"]]]></Value>
    </tags>
  </Properties>
</Content>