<?xml version="1.0" encoding="utf-8"?>
<Content Key="75554186-c50e-4ffd-9083-96905b2ece43" Alias="Television Page" Level="2">
  <Info>
    <Parent Key="91cfc9fd-e566-437c-894f-329780cd30fc">Home</Parent>
    <Path>/Home/TelevisionPage</Path>
    <Trashed>false</Trashed>
    <ContentType>generic</ContentType>
    <CreateDate>2020-02-10T15:18:04</CreateDate>
    <NodeName Default="Television Page" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95529a6c-53a6-4198-839b-7da300a266de">Generic</Template>
  </Info>
  <Properties>
    <tags>
      <Value><![CDATA[["television"]]]></Value>
    </tags>
  </Properties>
</Content>