<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c2e1bdb-ee7e-401f-b9b0-f954ecc19bd2" Alias="Television &amp; Gaming Page" Level="2">
  <Info>
    <Parent Key="91cfc9fd-e566-437c-894f-329780cd30fc">Home</Parent>
    <Path>/Home/TelevisionGamingPage</Path>
    <Trashed>false</Trashed>
    <ContentType>generic</ContentType>
    <CreateDate>2020-02-10T12:50:24</CreateDate>
    <NodeName Default="Television &amp; Gaming Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95529a6c-53a6-4198-839b-7da300a266de">Generic</Template>
  </Info>
  <Properties>
    <tags>
      <Value><![CDATA[["television","gaming"]]]></Value>
    </tags>
  </Properties>
</Content>