<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0acabcbb-20f7-498a-adb3-c0d88be35242" Alias="Picker - Content" Level="1">
  <Info>
    <Name>Picker - Content</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/91cfc9fde566437c894f329780cd30fc"
  },
  "Filter": "generic",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>