<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bbf83390-59a4-4291-8fff-f218bd6eea45" Alias="Picker - Promotions" Level="1">
  <Info>
    <Name>Picker - Promotions</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/31365a8c95ec46f1963410572f62f45d"
  },
  "Filter": "promotion",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>